{# Page d'affichage du menu pour la clientèle #}
{% extends "base.html.twig" %}

{% block title %}Menu du Central Perk
{% endblock %}

{% block body %}
	{# Début du formulaire de filtrage de l'affichage des plats#}
	{{ form_start(filter_form) }}
	<div class="container-fluid px-5 border-bottom">
		<div class="row">
			<div class="col">
				<h3>Filtres</h3>
			</div>
		</div>
		<div class="row pl-2 mt-2">
			<div class="col-3">
				<div class="row">
					<div class="col">
						<h5>Régime</h5>
					</div>
				</div>
				<div class="row pl-1 pt-2">
					{# Placement des colonnes du formulaire une par une,
					                pour avoir plus de clarté dans l'affichage #}
					<div class="col">
						{{ form_row(filter_form.vegetarien) }}
						{{ form_row(filter_form.vegan) }}
					</div>
					<div class="col">
						{{ form_row(filter_form.pescetarien) }}
					</div>
				</div>
			</div>
			<div class="col-auto">
				<div class="row">
					<div class="col">
						<h5>Allergies</h5>
					</div>
				</div>
				<div class="row pl-1 pt-2">
					<div class="col-auto">
						{{ form_row(filter_form.soja) }}
						{{ form_row(filter_form.poisson) }}
					</div>
					<div class="col-auto">
						{{ form_row(filter_form.fruits_coques) }}
						{{ form_row(filter_form.gluten) }}
					</div>
					<div class="col-auto">
						{{ form_row(filter_form.mollusques) }}
						{{ form_row(filter_form.celeri) }}
					</div>
					<div class="col-auto">
						{{ form_row(filter_form.crustaces) }}
						{{ form_row(filter_form.oeuf) }}
					</div>
					<div class="col-auto">
						{{ form_row(filter_form.arachide) }}
						{{ form_row(filter_form.lupin) }}
					</div>
					<div class="col-auto">
						{{ form_row(filter_form.moutarde) }}
						{{ form_row(filter_form.produits_laitiers) }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{{ form_row(filter_form.valider) }}
			</div>
		</div>
	</div>
	{{ form_end(filter_form) }}
	{# Fin du formulaire #}
	{# Conteneur d'affichage du menu #}
		<div class="container-fluid pl-4"> <div
			class="row">
			{# Affichage de chaque plat de chaque catégorie,
			        si aucune recherche n'est effectuée,
			        ou aucun filtre n'est appliqué #}
			{% if plats_search is empty %}
				<div class="col">
					{% for categorie in categories %}
						{% if categorie.libelle != "Plats masqués" %}
							<div id="{{ categorie.libelle }}" class="mb-1 mt-4">
								<h1>{{ categorie.libelle }}</h1>
							</div>
							<div class="container-fluid">
								<div class="row row-cols-4">
									{% for plat in categorie.plats %}
										<div class="col my-2">
											<div class="card h-100">
												<img src="{{ plat.image }}" class="card-img-top" alt="Photo de {{ plat.libelle }}" width="200" height="200">
												<div class="card-body">
													<h3 class="card-title">{{ plat.libelle }}</h3>
													<p class="card-text">{{ plat.ingredients }}</p>
													<p class="card-text">Convient au régime :
														{{ plat.regime }}</p>
													<p class="card-text">Allergènes :
														{{ plat.allergene }}</p>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				{# Sinon, ce sont les résultats de la recherche
				        ou des filtres qui sont affichés #}
				<div class="container-fluid mt-3">
					<div class="row">
						<div class="col my-3">
							<h1>Résultats de votre recherche :
							</h1>
						</div>
					</div>
					<div class="row row-cols-4">
						{% for plat in plats_search %}
							{% if plat.getCategorie().libelle != "Plats masqués" %}
								<div class="col my-2">
									<div class="card h-100">
										<img src="{{ plat.image }}" class="card-img-top" alt="Photo de {{ plat.libelle }}" width="200" height="200">
										<div class="card-body">
											<h3 class="card-title">{{ plat.libelle }}</h3>
											<p class="card-text">{{ plat.ingredients }}</p>
											<p class="card-text">Convient au régime :
												{{ plat.regime }}</p>
											<p class="card-text">Allergènes :
												{{ plat.allergene }}</p>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
