 {# Page d'affichage du menu pour le restaurateur #}
{% extends "base.html.twig" %}

{% block title %}Menu du Central Perk{% endblock %}

{% block body %}
    <div class="container-fluid ml-4">
        <div class="row">
            <div class="col my-4">
                {% for categorie in categories %}
                    <h1>{{ categorie.libelle }}</h1>
                    <div class="container">
                        <div class="row row-cols-4">
                            {% for plat in categorie.plats %}
                                <div class="col">
                                    <div class="card">
                                        <img src="{{ plat.image }}" class="card-img-top" alt="Photo de {{ plat.libelle }}" width="200" height="200">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ plat.libelle }}</h3>
                                            <p class="card-text">{{ plat.ingredients }}</p>
                                            <p class="card-text">Allergènes : {{ plat.allergene }}</p>
                                            <p class="card-text">Convient au régime : {{ plat.regime }}</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}        
            </div>
        </div>
    </div>
{% endblock %}